<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- HTML Meta Tags -->
  <title>Somos 3nomI0 </title>
  <meta name="description" content="🧠 Inteligencia en Redes Sociales 🦾">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://trinomiodigital.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Somos 3nomI0 ">
  <meta property="og:description" content="🧠 Inteligencia en Redes Sociales 🦾">
  <meta property="og:image" content="https://trinomiodigital.com/opengraph.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="trinomiodigital.com">
  <meta property="twitter:url" content="https://trinomiodigital.com/">
  <meta name="twitter:title" content="Somos 3nomI0 ">
  <meta name="twitter:description" content="🧠 Inteligencia en Redes Sociales 🦾">
  <meta name="twitter:image" content="https://trinomiodigital.com/opengraph.png">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->

  {%-feed_meta-%}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
</head>
